body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;

}

h1 {
    font-size: 60px;
}

.fst-pera {
    margin-bottom: 20px;
}

span {
    color: tomato;
}

.body {
    display: flex;
    margin-bottom: 230px;
    align-items: center;
}

.image img {
    width: 100%;
}

.button {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    background-image: linear-gradient(tomato, orangered);
    padding: 10px 30px;
    border-radius: 5px;
}

.fst-pera {
    width: 50%;
    padding-top: 10%;
    padding-left: 10%;

}

.about {
    display: flex;
    background-image: url(shapes/Frame\ 59.jpg);
    height: 700px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 0%;
    justify-content: space-around;
}

.sec-pera {
    padding-top: 5%;
}

.sec-image img {
    height: 700px;

}

.button-contact {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    background-image: linear-gradient(tomato, orangered);
    padding: 10px 30px;
    border-radius: 5px;
}

.recipies {
    text-align: center;
    color: gray;

}

.bap {
    display: flex;
    justify-content: space-around;
}

.recipe {
    width: 50%;
    height: 50%;
    top: 1771px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 20px;
    border-radius: 30px;
    box-shadow: 10px 10px 40px;
    color: black;
}

.recipe img {
    width: 50%;
    height: 308px;
    padding-top: 2%;
}